/*
Since the uplot default is to dark for dark mode
*/
.u-select {
    background: @gray;
    opacity: 0.2;
}

/*
These elements are used to retrive colors in the JavaScript part of the module
*/
div.axes-color {
    background-color: @gray-semilight;
}
div.warning-color {
    background-color: @color-warning;
}
div.critical-color {
    background-color: @color-critical;
}
div.value-color {
    background-color: @color-pending;
}

p.line-chart-data-error {
    display: none;
}

/*
The spinner for when data is being fetched
*/
i.spinner {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
