/*
Since the uplot default is to dark for dark mode
*/
.u-select {
    background: @gray;
    opacity: 0.2;
}

/*
The container is always collapsed and this is to show a
small hint at the content.
If you change this, remember to also change the chart height.
*/
.perfdata-charts-container {
    min-height: 150px;
}

/*
These elements are used to retrive colors in the JavaScript part of the module
*/
div.axes-color {
    background-color: @gray-semilight;
}
div.warning-color {
    background-color: @color-warning;
}
div.critical-color {
    background-color: @color-critical;
}
div.value-color {
    background-color: @color-pending;
}

/*
This element is used to signal errors for line-charts
*/
p.line-chart-error {
    display: none;
    .rounded-corners(.25em);
    background-color: @gray-lighter;
    padding: .5em;
}

/*
The spinner for when data is being fetched
*/
i.spinner {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
